---
import Layout from '~/layouts/PageLayout.astro';
import ConstructionImage from 'src/assets/images/under-construction-cropped.svg';
import Image from 'astro/components/Image.astro';

const metadata = {
  title: 'Spirited Syntax - Under Construction',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="m-auto max-w-xl">
      <Image
        class="mx-auto rounded-md w-full mt-28"
        widths={[400, 768, 1024]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px,1024px"
        loading="eager"
        alt={'construction site'}
        src={ConstructionImage}
      />
    </div>
    <div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
      <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase" set:html={'404'} />
      <h1
        class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
        set:html={'Under Construction'}
      />
      <div class="max-w-3xl mx-auto">
        <p
          class="text-xl text-muted mb-6 dark:text-slate-300"
          set:html={'Spirited Syntax is being built as we speak! Check back soon!'}
        />
      </div>
    </div>
  </section>
</Layout>
