---
import Layout from '~/layouts/NonNavPageLayout.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import swirl from '~/assets/images/swirls-dark.mp4';

const metadata = {
  title: 'Spirited Syntax - Welcome to the future',
};
---

<Layout metadata={metadata}>
  <header class="relative flex items-center justify-center h-screen mb-12">
    <video autoplay muted loop class="absolute z-10 w-auto min-w-full min-h-full max-w-[1600px]">
      <source src={swirl} />
    </video>

    <div class="relative z-30">
      <Hero3
        actions={[
          { variant: 'primary', text: 'See More', href: '#', icon: 'tabler:rocket' },
          { text: 'About Us', href: '#' },
        ]}
      />
    </div>
  </header>
</Layout>
